*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    }      
   body{
       
       background: url(../img/Rectangle\ 1.png);           
       background-repeat: no-repeat;     
       background-color: #E5E5E5;
       width: 100%;      
       background-size: cover;
   } 
   header{
    width: 228px;
    height: 70px;   
    padding-left: 638px;
    padding-top: 74px;
   }
    
    nav ul{
        width: 500px;
        display: flex;
        justify-content: space-between;        
        text-align: center;
    }
    ul li{
        height: 70px;
        background-color: #C4C4C4;
        border-radius: 0 35px 0 35px;
    }  
    ul li a{      
        margin: 0 auto;
        display: block;        
        
    }      
    .zoma1{
        width: 228px;       
        
    }    
    .zoma2{
        width: 126px;
        
    }
    
 .zoma2:hover{
        background-color: #79B331;
    }
    .zoma1:hover{
        background-color: #79B331;
    }
    .zoma3:hover{
        background-color: #79B331;
    }

    ul li a{
        padding: 18px 24px;
        color: #000;
    }
.feri:hover{
    color: #fff;
}
.boxball{
    width: 432px;
    height: 174px;
    margin-top: 230px;
    margin-left: 848px;    
   
}
.ball{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #79B331;
    position: relative;
    
    animation: animacia 2s infinite;
   
}
@keyframes animacia {    

    0%  {top:0; left:0;}
    25% {top:0; left:400px;}
    50% {top: 142px; left:400px;}
    75% {top:142px; left: 0;}
    100% {top:0; left:0;}
    
  }
.t1{
    font-size: 18px;
    margin:0 auto;
    padding-left:30px;
}
    .t2{

     font-size: 36px;  
     margin: 0 auto; 
     padding-left: 80px;
    }
    .mainbox{
        width: 1102px;
        height: 498px;
        margin-left: 338px;
        margin-top: 526px;
        position: relative;
    }
    .stick{
        width: 1px;
        background-color: #C4C4C4;
        height: 498px;
        margin: 0 auto;
    }
    .box1{
        width: 50%;
        height: 50px;
        position: relative;
        top: 0;
        left: 0;
        position: absolute;

    }
    .potoli{
        width: 70px;
        height: 70px;
        border-radius: 0 35px 0 35px;
        background-color: #C4C4C4;
        /* margin-top: 0px; */
        position: absolute;
        top: 0;
        right: 0;    
    }
.text1{
    font-size: 18px;
    width: 420px;
    margin-top: 10px;

}
.text1:hover{
    color: #79B331;
}

.potoli:hover{
    background-color: #79B331;
}
.potoli2:hover{
    background-color: #79B331;
}
.box2{
    /* width: 50%; */
    height: 50px;
    position: relative;
    top: 150px;
    left: 50%;
    position: absolute;
}
.potoli2{
    width: 70px;
    height: 70px;
    border-radius: 35px 0 35px 0;
    background-color: #C4C4C4;   
    position: absolute;
    top: 0;
    left: 50%;   
    top: 0;
    left: 0;}   
.text2{
    font-size: 18px;
    width: 500px;
    margin-top: 10px;
    padding-left: 90px;

}
.text2:hover{
    color: #79B331;
}
.box3{
    width: 50%;
    height: 50px;
    position: relative;
    top: 300px;
    left: 0;
    position: absolute;
}
  .text3{
    font-size: 18px;
    width: 550px;
    margin-top: 10px;      
  } 
  .text3:hover{
    color: #79B331;
}
.box4{   
height: 50px;
position: relative;
top: 450px;
left: 50%;
position: absolute;
}